In [51]:
from tabulate import tabulate

daftarBuah = [
    [0,'Apel', 20,10000],
    [0,'Jeruk', 15,15000],
    [0,'Anggur', 25,20000]
]
print(tabulate(daftarBuah,
                   headers=['index', 'stock', 'name','price'],
                   tablefmt='grid'))

+---------+---------+--------+---------+
|   index | stock   |   name |   price |
+=========+=========+========+=========+
|       0 | Apel    |     20 |   10000 |
+---------+---------+--------+---------+
|       0 | Jeruk   |     15 |   15000 |
+---------+---------+--------+---------+
|       0 | Anggur  |     25 |   20000 |
+---------+---------+--------+---------+

In [52]:
def interger_validation():
    while True:
        a=input('Silahkan masukkan angka: ')
        try:
            a = int(a)
            break
        except:
            print('Yang anda inputkan bukan bilangan')
    return a

interger_validation()

Yang anda inputkan bukan bilangan

1

In [53]:
def string_validation(title):
    while True:
        a=input(title)
        if a.isalpha() ==True:
                break
        else:
                print('Silahkan inputkan hanya teks')
    return a.capitalize()
    

string_validation('Silahkan masukan nama buah')

'Apel'

In [54]:
name = 'nanas'
stock = 10
price = 12000

for key, buah in database.copy().items():
    if name in buah:
        database[key] = [buah[0]]

NameError: name 'database' is not defined

In [ ]:
import calendar

yy=int(input("Masukan tahun:"))
mm = int(input("Masukan bulan(dalam angka):"))

print(calendar.month(yy,mm))

     March 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [61]:
kalimat = 'Selamat datang di indonesia'

print(kalimat[:-1])

Selamat datang di indonesi